.banner-foto {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 110px;
}

.logo {
  float: left;

}


// не розібрався як зробить гамбургер-меню і кнопку без будстрапа, довго возився втратив багато часу, але не вийшло
//не вдалося мені зрозуміти як повязати код скрипта і медіа. клік я розумію а медіа ні. треба буде ще розбиратися
//вдвох

.menu-header {
  float: right;

}

header {
  li {
    float: left;
    a {
      color: #f9fafe;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      font-weight: 700;
      list-style-type: none;
      padding: 10px 20px;
    }
  }
}



header li:hover a {
  border-radius: 5px;
  border: 1px solid #f9fafe;
  background-color: rgba(201, 9, 4, 0);
  padding: 10px 30px;
  color: red;

}


.header-blok {
  margin-top: 20px;
  padding-top: 100px;
}


h1 {
  color: #f9fafe;
  font-size: 72px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding-bottom: 29px;

}


.header-text {
  color: #f9fafe;
  font-size: 30px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}


