.button-have-main {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #e7434e;
  padding: 15px 35px;
}





.button-have-main:hover {
  background-color: yellowgreen;
  color: blue;

}



