
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.accordeon {
  background-color: #ffffff;
  padding-bottom: 80px;

}

h2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.accordeon-button {
  background-image: url("../images/slice.png");
  background-position: left;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #ffffff;
  color: #343434;
  width: 100%;
  padding: 25px 0;
  margin-top: 30px;
  box-shadow: 0 0 30px rgba(52, 52, 52, 0.15);
  border-radius: 5px;
}

.accordeon .active {
  color: #ffffff;
  background-color: blue;
  background-image: url("../images/down-arrow.png");
  background-position: left;
  background-repeat: no-repeat;
}

.accordeon-button:hover {
  background-color: #ffffff;
  color: #343434;
}


.accordeon-text.active {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  display: block;
  background-color: #ffffff;
  color: #343434;
}

.accordeon-button.active:hover{
  background-color: blue;
  color: #ffffff;
}



.accordeon-button:hover {
  background-color: gray;
}



.accordeon-text {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  display: none;
}


.have-main {
  background-image: url("../images/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;

}

.have-main h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  color: #ffffff;
  text-transform: uppercase;
}

.dialog-button {
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  color: #ffffff;
  box-shadow: 0 0 1px rgba(2, 2, 2, 0.15);
  border-radius: 5px;
  padding: 15px 15px;

}


.dialog-button:hover{
  background-color: grey;
  color: #ffffff;
}

.dialog-blok  {
  display: none;
}


.dialog-blok h3 {
position: relative;
}

.dialog-blok.active {
  display: block;
  position: fixed;
  top: 200px;
  left: 150px;
  height: 600px;
  color: #ffffff;
  background-color: green;

}

.dialog-blok-image {
  background-image: url("../images/xrest.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 30%;
}


.dialog-text {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  margin: 30px 10px;
  padding: 50px 100px;
}



.tabs {
  background-color: honeydew;
  padding-bottom: 750px;
  padding-top: 50px;

}

.tabs-button {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  margin: 30px 10px;
  text-transform: uppercase;
}

.tabs-text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  display: none;
}

.tabs-button:hover{
  background-color: grey;

}

.tabs-blok {
  float: left;
  width: 33.33%;
}

.tabs .active {
  display: block;
  color: #ffffff;
  background-color: green;

}

.tabs-text.active {
  display: block;
}

.tooltip {
  background-color: #ffffff;
  padding-bottom: 250px;
  padding-top: 50px;
}

.tooltip-text {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 37px;
  color: #343434;
}


.tooltip-hover {
  display: none;
}

.tooltip-hover.active {
  color: #ffffff;
  background-color: green;
}