
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.accordeon {
  background-color: #ffffff;
  padding-bottom: 80px;

}

h2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.accordeon-button {
  background-image: url("../images/slice.png");
  background-position: left;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #ffffff;
  color: #343434;
  width: 100%;
  padding: 25px 0;
  margin-top: 30px;
  box-shadow: 0 0 30px rgba(52, 52, 52, 0.15);
  border-radius: 5px;
}

.active {
  color: #ffffff;
  background-color: blue;
  background-image: url("../images/down-arrow.png");
  background-position: left;
  background-repeat: no-repeat;
}

.accordeon-button:hover {
  background-color: #ffffff;
  color: #343434;
}


.accordeon-text.active {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  display: block;
  background-color: #ffffff;
  color: #343434;
}

.accordeon-button.active:hover{
  background-color: #ffffff;
}



.accordeon-button:hover {
  background-color: gray;
}


.accordeon-text {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  display: none;
}


.have-main {
  background-color: #e7434e;
  background-image: url("../images/background-photo.jpg");
  background-repeat: no-repeat;
  padding: 22px 41px 22px 68px;
  background-position: left center;
  padding-bottom: 160px;
  padding-top: 190px;
  text-align: center;
  background-size: cover;

}




.have-main-text {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 90px;
}



